@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #80476F !important;
  --toastify-color-info: #FEC347 !important;

  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.search {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAACSklEQVR4nLWVvWsUURTFBxWNaIo0QiIWomnUOiA2flVaaGdnrawkxI960b9jYODNnPPWtyjYbGGzfgRSBSQbIcZ/QRTXxigaOXATl2VndmYdLzyYee/N+9177p37oijHnHOnATwC8JTkWw09e+8fai36VwMwT/IZgN8kd0YNrQFoTwwEcBPANztwHcASybPOuSMaetYcgJ7t6WdZdqMyhOQvAN8B3G02m/vy9oYQ9pNsANjWN6VhkkuRCJJl2aWyzpG8bLB+KRmVE5PiTlnIrgG4Z3lrRyWiUeLXi+QqkhHAhs7w3p/K3ahyNY+WDDxTFUZy2RR5ULQpaFOapmfs/Um32z1QBdRqtc6Zs60ikH7GnTiOp+39tT6sAorjeNpAb6qANkk+ngREciV3k7WYPekAvCT5xTl3bALp2qWLQSVu3r1KkmSqSjEAuB+NaZ7qXT2VagjhIIB3BlstLNlor0u8t64yX+iRQraDG/bxcQBrNveDZOa9vwVgIU3T2aFoFi2a52NDV1RqI2on3vsrmlOJA7htXWPVfoNGCOHwgINX5Yjal3PuZFTG1Bgt/G21FUkyRq5Fi1ZRfwJwXhF3Op1DZWF9k2JDSVZFhRCOauhZCbecCPCV5Oehu6o3LG+ujMpZ0cWnyCWl9/6E9/7iiPXNUjCZqk29i6S3n3rFimZ5sBKzLLuQcwt/IDkX1WVJkkwN3LjDY0sVXBssTdNZa13/H0ZyLg8G4EVtoOgvbGsEaK1WkEwykfw4APlJ8nrtoF2Y5FIkAK5p8g9v8q4/iuwCrwAAAABJRU5ErkJggg==')
}